<section id="ueber-mich" class="section">
    <div class="container reveal">
        <h2 class="section-title">Über mich</h2>
        <div class="row">
            <div class="col-lg-8">
                <p class="lead">@SiteContent.AboutText</p>
            </div>
        </div>
    </div>
</section>
