@using TestApp.Data

<nav class="navbar navbar-expand-md navbar-dark site-navbar fixed-top">
    <div class="container">
        <a class="navbar-brand fw-semibold" href="/">@SiteContent.Name</a>
        <button title="Navigation öffnen" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse" @onclick="CollapseNavMenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/#ueber-mich">Über mich</a></li>
                <li class="nav-item"><a class="nav-link" href="/#skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link" href="/#projekte">Projekte</a></li>
                <li class="nav-item"><a class="nav-link" href="/#werdegang">Werdegang</a></li>
                <li class="nav-item"><a class="nav-link nav-cta" href="/#kontakt">Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : "collapse show";

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;

    private void CollapseNavMenu() => collapseNavMenu = true;
}
